html,
body {
    height: 100%;
    margin: 0;
}

#header,
#footer,
#page-wrapper {
    position: relative;
	margin: 0 auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#branding #logo,
#branding #name-and-slogan {
	display: table-cell;
	vertical-align: middle;
}
#branding #logo {
	font-size: 0
}
#branding {
	margin-right: 10px;
	float: left;
}
#footer p {
	margin: 0;
}

img, object, embed, audio, video, iframe {
	max-width: 100%;
}

#main-wrapper {
	width: 100%;
	position: relative;
}

#block-user-login ul,
#block-user-login ul li,
ul.language-switcher-locale-url,
ul.language-switcher-locale-url li,
ul.menu,
ul.menu li {
	list-style: none;
	list-style-type: none;
	margin: 0;
}
ul.inline li:first-child {
}
ul.inline li:last-child {
}

#navigation .section h2 {
	display: none;
}

.block-region:first-child {
	margin-top: 0;
}
.block-region:last-child {
	margin-bottom: 0;
}

#block-system-user-menu,
#block-locale-language,
ul.language-switcher-locale-url,
ul.language-switcher-locale-url li,
#header ul.menu,
#header ul.menu li {
	display: inline-block;
}

@media only screen and (min-width:640px) {
	.one-sidebar.sidebar-first #content > .section,
	.two-sidebars #content > .section {
		margin: 0 0 0 240px;
	}
	.one-sidebar.sidebar-second #content > .section {
		margin: 0 240px 0 0;
	}
	#content,
	#sidebar-first,
	.one-sidebar #sidebar-second {
		height: 100%;
	}
	#sidebar-first,
	.one-sidebar #sidebar-second {
		height: 100%;
		width: 240px;
	}
	#sidebar-first {
		position: absolute;
		top: 0;
		left: 0;
	}
	#sidebar-first > .section {
/*		margin-right: 10px;*/
	}
	.one-sidebar #sidebar-second {
		position: absolute;
		top: 0;
		right: 0;
	}
	.one-sidebar #sidebar-second > .section {
/*		margin-left: 10px;*/
	}
	.two-sidebars #sidebar-second {
		margin: 0 0 0 240px;
	}
}

@media only screen and (min-width:960px) {
	.one-sidebar.sidebar-first #content > .section {
		margin: 0 0 0 240px;
	}
	.one-sidebar.sidebar-second #content > .section {
		margin: 0 240px 0 0;
	}
	.two-sidebars #content > .section {
		margin: 0 240px;
	}
	#sidebar-second {
		height: 100%;
		width: 240px;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}
	#sidebar-second > .section {
/*		margin-left: 10px;*/
	}
}
