#page-wrapper {
	max-width: 960px;
}

#page-wrapper {
    padding-bottom: 40px;
}
#footer {
	height: 40px;
}

#page-wrapper {
    min-height: 100%;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	vertical-align: bottom;
}

@media only screen and (max-width:959px) {
}
@media only screen and (max-width:639px) {
}
@media only screen and (max-width:359px) {
}
