#page-wrapper {
/*	background: #ccf;*/
}
#page > header {
/*	background: #fcc;*/
}
#page > footer {
/*	background: #cfc;*/
}

.region {
/*	background: yellow;*/
}

div.tabs {
	float: right;
}
ul.primary {
	margin: 0;
}
